name: template-frontend-dev

services:
  frontend:
    restart: unless-stopped
    build:
      context: ../../
      dockerfile: env/dev/Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ../../env/dev:/app/env/dev
      - ../../src:/app/src
      - ../../svelte.config.js:/app/svelte.config.js
      - ../../vite.config.js:/app/vite.config.js
    env_file:
      - .env
    environment:
      - PUBLIC_ENVIRONMENT=development
    networks:
      - template_net

  nginx:
    restart: unless-stopped
    build:
      context: ../dev/nginx
      dockerfile: Dockerfile
    volumes:
      - ../../static:/vol/static
    ports:
      - 80:80
      - 90:90
    networks:
      - template_net
    environment:
      - PUBLIC_ENVIRONMENT=development

networks:
  template_net:
    driver: bridge
