@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	/* Texts */
	--default-font: 'Poppins', sans-serif;
	font-family: var(--default-font) !important;

	/* Colors */
	--text-color-50: theme('colors.gray.50');
	--text-color-100: theme('colors.gray.100');
	--text-color-200: theme('colors.gray.200');
	--text-color-300: theme('colors.gray.300');
	--text-color-400: theme('colors.gray.400');
	--text-color-500: theme('colors.gray.500');
	--text-color-600: theme('colors.gray.600');
	--text-color-700: theme('colors.gray.700');
	--text-color-800: theme('colors.gray.800');
	--text-color-900: theme('colors.gray.900');
	--text-color-950: theme('colors.gray.950');

	--bg-color-50: theme('colors.gray.50');
	--bg-color-100: theme('colors.gray.100');
	--bg-color-200: theme('colors.gray.200');
	--bg-color-300: theme('colors.gray.300');
	--bg-color-400: theme('colors.gray.400');
	--bg-color-500: theme('colors.gray.500');
	--bg-color-600: theme('colors.gray.600');
	--bg-color-700: theme('colors.gray.700');
	--bg-color-800: theme('colors.gray.800');
	--bg-color-900: theme('colors.gray.900');
	--bg-color-950: theme('colors.gray.950');

	--theme-color-50: theme('colors.purple.50');
	--theme-color-100: theme('colors.purple.100');
	--theme-color-200: theme('colors.purple.200');
	--theme-color-300: theme('colors.purple.300');
	--theme-color-400: theme('colors.purple.400');
	--theme-color-500: theme('colors.purple.500');
	--theme-color-600: theme('colors.purple.600');
	--theme-color-700: theme('colors.purple.700');
	--theme-color-800: theme('colors.purple.800');
	--theme-color-900: theme('colors.purple.900');
	--theme-color-950: theme('colors.purple.950');

	--colors-pulse-animation: hsla(0, 0%, 65%, 0.3);

	/* Defaults */
	--border-width: 2px;
	--border-radius: 0.25em;

	--text-color: var(--text-color-300);
	--text-color-muted: var(--text-color-500);
	--text-color-other: var(--text-color-800);
	--text-highlight-color: var(--theme-color-500);
	--text-highlight-color-hover: var(--theme-color-700);

	--theme-color: var(--theme-color-500);
	--border-color: var(--theme-color-600);
	--shadow-color: rgba(60, 60, 60, 0.75);
	--shadow-theme-color: var(--theme-color-950);
	--background-color: var(--bg-color-950);
	--background-color-hover: var(--bg-color-900);

	--error-color: theme('colors.red.300');
	--success-color: theme('colors.emerald.300');
	--warning-color: theme('colors.amber.300');
	--info-color: theme('colors.sky.300');

	--max-w-mobile: 90vw;
	--max-w-desktop: 85%;
}

:root[theme='light'] {
	--text-color: var(--text-color-800);
	--text-color-muted: var(--text-color-500);
	--text-color-other: var(--text-color-300);
	--theme-color: var(--theme-color-500);
	--border-color: var(--theme-color-300);
	--shadow-theme-color: var(--theme-color-200);
	--background-color: var(--bg-color-50);
	--background-color-hover: var(--bg-color-100);

	--error-color: theme('colors.red.600');
	--success-color: theme('colors.emerald.600');
	--warning-color: theme('colors.amber.600');
	--info-color: theme('colors.sky.600');
}

:root[color='amber'] {
	--theme-color-50: theme('colors.amber.50');
	--theme-color-100: theme('colors.amber.100');
	--theme-color-200: theme('colors.amber.200');
	--theme-color-300: theme('colors.amber.300');
	--theme-color-400: theme('colors.amber.400');
	--theme-color-500: theme('colors.amber.500');
	--theme-color-600: theme('colors.amber.600');
	--theme-color-700: theme('colors.amber.700');
	--theme-color-800: theme('colors.amber.800');
	--theme-color-900: theme('colors.amber.900');
	--theme-color-950: theme('colors.amber.950');
}

:root[color='red'] {
	--theme-color-50: theme('colors.red.50');
	--theme-color-100: theme('colors.red.100');
	--theme-color-200: theme('colors.red.200');
	--theme-color-300: theme('colors.red.300');
	--theme-color-400: theme('colors.red.400');
	--theme-color-500: theme('colors.red.500');
	--theme-color-600: theme('colors.red.600');
	--theme-color-700: theme('colors.red.700');
	--theme-color-800: theme('colors.red.800');
	--theme-color-900: theme('colors.red.900');
	--theme-color-950: theme('colors.red.950');
}

:root[color='sky'] {
	--theme-color-50: theme('colors.sky.50');
	--theme-color-100: theme('colors.sky.100');
	--theme-color-200: theme('colors.sky.200');
	--theme-color-300: theme('colors.sky.300');
	--theme-color-400: theme('colors.sky.400');
	--theme-color-500: theme('colors.sky.500');
	--theme-color-600: theme('colors.sky.600');
	--theme-color-700: theme('colors.sky.700');
	--theme-color-800: theme('colors.sky.800');
	--theme-color-900: theme('colors.sky.900');
	--theme-color-950: theme('colors.sky.950');
}

@media (max-width: 768px) {
	:root {
		--border-width: 1px;
	}
}

::-webkit-scrollbar {
	width: 3px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	margin-right: 5px;
	background: var(--theme-color-300);
	border-radius: 5px;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	color: var(--text-color);
	background: var(--background-color);
}

*:not(i),
*:not(i):before,
*:not(i):after {
	font-family: var(--default-font) !important;
}

a {
	text-decoration: none;
}

button {
	font-family: var(--default-font) !important;
}

hr {
	background: var(--border-color);
	border: none;
	border-radius: var(--border-radius);
}

hr.vr {
	height: 100%;
	width: var(--border-width);
}

.disabled {
	pointer-events: none !important;
	opacity: 0.5 !important;
}
